.weekly-study-table {
    text-align: center; /* 텍스트 가운데 정렬 */
}

.circle-area {
    margin: 20px 0; /* 원과 주간 학습 간의 간격 */
}

.circle-container {
    display: flex; /* 가로 정렬 */
    justify-content: center; /* 가운데 정렬 */
    align-items: flex-end; /* 하단 정렬 */
}

.day-circle-wrapper {
    display: flex;
    flex-direction: column; /* 세로 방향으로 정렬 */
    align-items: center; /* 가운데 정렬 */
    margin: 0 20px; /* 원 간의 간격 */
}

.circle {
    width: 50px; /* 원의 크기 조절 */
    height: 50px; /* 원의 크기 조절 */
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* 완료한 수업의 개수는 표시하지 않음 */
}

.default-color {
    background-color: white; /* 기본 색을 흰색으로 변경 */
    border: 1px solid lightgray; /* 흰색 원을 강조하기 위한 테두리 추가 */
}

.light-green {
    background-color: lightgreen;
}

.medium-green {
    background-color: green;
}

.dark-green {
    background-color: darkgreen;
}

.day-label {
    margin-bottom: 5px; /* 원과 요일 간격 */
    font-weight: bold;
}

.summary {
    margin-top: 20px; /* 요약 영역과 원 간격 */
}

.light-gray {
    background-color: lightgray; /* 연한 회색 */
}
